<connectionStrings>
  <!--<add name="AppContext" connectionString="data source=.;initial catalog=uxeducation;persist security info=True;user id=sa;password=sql;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  
  <add name="AppContext" connectionString="data source=mcortegana.database.windows.net,1433;Initial Catalog=uxeducation;Persist Security Info=True;User ID=mcortegana;Password=Dk21jjku#;MultipleActiveResultSets=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>